<div class="container d-flex flex-column align-items-center justify-content-center p-4">
    <h7 class='text-danger'>Website For Demo Purpose Only : {{node}}</h7>
    <h2>Blockchain Wallet</h4>
</div>