<div class="d-flex  flex-column flex-md-row  justify-content-between">

    <div class="d-flex flex-column col-md-6 col-lg-8">
        <div class="mb-3">
            <h5 class="mb-2">Latest Transactions</h5>
            <div class="mb-1 px-3 d-flex flex-row justify-content-between">
                <p class="fw-bolder">Transaction ID</p>
                <p class="fw-bolder">Transaction Status</p>
                <p class="fw-bolder">Transaction Date</p>
            </div>
            <ul class="list-group d-flex-inline flex-column">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <span class="">hi</span>
                    <i>date</i>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <i>date</i>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <i>date</i>
                </li>

            </ul>
        </div>
        <div class="mb-3">
            <h5 class="mb-2">Latest Created Blocks</h5>
            <div class="mb-1 px-3 d-flex flex-row justify-content-between">
                <p class="fw-bolder">Hash ID</p>
                <p class="fw-bolder">Transaction Type</p>
                <p class="fw-bolder">Mined Date</p>
            </div>
            <ul class="list-group d-flex-inline flex-column">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <i>date</i>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <i>date</i>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Vestibulum at eros
                    <i>date</i>
                </li>

            </ul>
        </div>

    </div>
    <div class="col-sm-4 col-md-3">
        <h5 class="mb-3">Latest Added Wallet Nodes</h5>

        <ul class="list-group d-flex-inline flex-column">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vestibulum at eros
                <i>date</i>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vestibulum at eros
                <i>date</i>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Vestibulum at eros
                <i>date</i>
            </li>

        </ul>
    </div>


</div>